@model Product
















<div class="col-md-6 col-lg-6 ">
    <div class="card text-center  mx-auto my-3 " style="width: 18rem;  ">
        <img src="~/images/2.jpg" class="card-img-top" alt="...">

        <div class="card-body">
            <h5 class="card-title">@Model.ProductName</h5>
            <p class="card-text">@Model.Price</p>

            <a class="btn btn-primary " asp-action="Get" asp-route-id="@Model.ProductId">

                <i class="fas fa-arrow-right"></i>

                Get details</a>



        </div>

    </div>



</div>