@page

<div class="text-center ">

    <h4 class="display-6 ">Thank you</h4>
    <p>Thanks for placing order #@OrderId</p>

    <p>We will ship your goods as soon as possible.</p>
    <a class="btn btn-dark" asp-controller="home" asp-action="index">
        Return to Store
    </a>
</div>


@functions {
    [BindProperty(SupportsGet = true)]
    public String? OrderId { get; set; }
}