@page



<div class="text-center my-5 shadow rounded-3 bg-dark-subtle     p-5">


    <div class="display-6  text-dark mb-5  ">Contact</div>
    <div class="lead text-dark ">


        <h3> <i class="fa fa-phone"> </i> İletişim</h3>
        <h1 class="h-4 text-dark mb-5 "> +83838383</h1>
        <h1 class="fa fa-envelope text-dark"></h1>
        <h1 class> ecommarce@mail.com</h1>
    </div>



</div>